pre {
  background: whitesmoke;
  margin: 0;
  padding: 5px;
}

body {
  width: 40%;
  margin: auto;
  max-width: 800px;
}

.tooltip {
  position: relative;
  cursor: pointer;
  font-family: monospace;
  display: inline;
}

.bigsvg {
  position: absolute;
  left: 0;
  display: inline-block;
  background: #f3f3f3;
  padding: 10px;
  max-width: 100%;
  box-sizing: border-box;
  width: 100%;
}

.alphaHuff {
  width: 100%;
  height: 300px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  margin-left: -60px;
  bottom: 100%;
  left: 50%;
}

.backref {
  color: red;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip:active .tooltiptext {
  visibility: visible;
}